# PhonePe Configuration
VITE_PHONEPE_CLIENT_ID=
VITE_PHONEPE_CLIENT_SECRET=
VITE_PHONEPE_CLIENT_VERSION=1
VITE_PHONEPE_ENV=SANDBOX # or PRODUCTION
VITE_PHONEPE_MERCHANT_ID=
VITE_PHONEPE_SALT_KEY=
VITE_PHONEPE_SALT_INDEX=1
